
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Datatables Example</title>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  
</head>

  <body>
  <h1>Skill Details Page</h1>
  <div id="rd">
  </div>
   
   
<script>
    var user = JSON.parse('{{ data | tojson | safe}}');
    console.log('user :' + user)
    u = '<table border="1">';
    u = u + '<tr>' 
        +  '<th>' + 'Resume' + '</th>' 
        +  '<th>' + 'Best Fit % [ Java]' + '</th>' 
        +  '<th>' + 'Best Fit % [ Tomcat]' + '</th>' 
        +  '</tr>';
    Object.keys(user["files"]).forEach(function(k1){
        u = u + '<tr>' 
        +  '<td>' + user["files"][k1] + '</td>' 
        +  '<td>' + user["fit"][k1]['Java'] + '</td>'
        +  '<td>' + user["fit"][k1]['Tomcat'] + '</td>'
        +  '</tr>';
    });
    u = u +'</table>';
    document.getElementById('rd').innerHTML = u;
</script>
  </body>
</html>
