
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Datatables Example</title>
  <meta charset="utf-8">
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
  
</head>
<body>
<h1>Skill Summary Page</h1>
<table id="example" class="display" style="width:100%" border="1">
        <thead>
            <tr>
                <th>Matching Skill#</th>
                <th>Skills</th>
                <th>Candidates#</th>
            </tr>
        </thead>
        <tbody>
    </tbody>
        <tfoot>
            <tr>
                <th>Matching Skill#</th>
                <th>Skills</th>
                <th>Candidates#</th>
            </tr>
        </tfoot>
    </table>
<script>

$(document).ready(function() {
    $.ajax({
      type: "GET",
      url: "/resume", 
      "dataType": "json",
      success: function(result) {
        console.log('result :', result);
        //console.log('result1 :', JSON.parse(result.category));
        
        //c=result.category;
        c=result;
        //$output = "";
        Object.keys(c).forEach(function(k1){
            v2=c[k1]
            Object.keys(v2).forEach(function(k2){
                console.log('skill# :' +k1 + ', ' + k2 + ' - ' + v2[k2].skills + ' - ' + v2[k2].candidates.length);
                
                        //var tableRef = document.getElementById('example').getElementsByTagName('tbody')[0];
                        $output =
                        "<tr>" + 
                        "<td align=centre>" + k1 + "</td>" +
                        "<td>" + v2[k2].skills + "</td>" +
                        "<td><a href=/details?param=" + k1 + "-" + k2 + ">" + v2[k2].candidates.length + "</a></td>" + 
                        "</tr>"
            $("table tbody").append($output);
            });
        });
        //console.log($output)  
      //$("#example > tbody ").append($output);
    }
} );    
} );
</script>
</body>
</html>
